.history-row {
  display: flex;
  gap: 4px;
  margin-top: 6px;
}

.history-box {
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  border-radius: 4px;
  background-color: #ddd;
}

.history-box.done {
  background-color: #4caf50;
  color: white;
}

.history-box.not-done {
  background-color: #bbb;
  color: white;
}
